@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <div class="container">
        @if (signInManager.IsSignedIn(User))
        {
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="btn btn-dark">Logout @User.Identity.Name</button>
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-dark">Login</a>
        }

        <hr />
        @RenderBody()
    </div>
</body>
</html>
