<h1>Welcome to Employee app</h1>

<p>Click on one of the following links: </p>

<a asp-controller="Employee" asp-action="Add">Add a worker</a>
<br />
<a asp-controller="Employee" asp-action="ViewAll">View all workers</a>