@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Employee app</h1>

<p>Click on one of the following links: </p>

<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add an employee</a>

<a asp-controller="Employee" asp-action="ViewAll" class="btn btn-primary">View all employees</a>